<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="utf-8"/><title>Isuwitter</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<header class="header">
    <a class="title" href="/">Isuwitter</a>
    <form th:if="${name != null}" class="logout" action="/logout" method="post">
        <button type="submit">ログアウト</button>
    </form>
    <span th:if="${name != null}" class="name" th:text="'こんにちは ' + ${name} + 'さん'"></span>
    <span th:unless="${name != null}" class="name">こんにちは ゲストさん</span>
    <form class="search" action="/search" method="get">
        <input type="text" name="q" placeholder="search" />
    </form>
</header>
<div class="container">
    <div layout:fragment="content" th:remove="tag"></div>
</div>
<script src="/js/script.js"></script>
</body>
</html>