{{ template "base_top" .}}

{{ if .Name }}
{{ template "_post" .}}
   <div class="timeline">
{{ template "_tweets" .}}
   </div>
   <button class="readmore">さらに読み込む</button>
{{ else }}
{{ if .Flush }}
   <p class="flush">{{ .Flush }}</p>
{{ end }}
   <form class="login" action="/login" method="post">
     <input type="text" name="name">
     <input type="password" name="password">
     <button type="submit">ログイン</button>
   </form>
{{ end }}

{{ template "base_bottom" .}}
